.btn {
	
	&--large {
		display: inline-block;
		padding: 17px 37px;
		color: @white;
		border: 2px solid @white;
		border-radius: 50px;
		font-size: 18px;
		text-decoration: none;

		&:hover {
			color: @bg-loyalty;
			background-color: @white;
			transition: .4s;
		}
	}//large

	&--small {
		display: inline-block;
		padding: 8px 18px;
		color: @white;
		border: 2px solid @white;
		border-radius: 50px;
		font-size: 18px;
		letter-spacing: 0.02em;
		text-decoration: none;

		&:hover {
			color: @bg-loyalty;
			background-color: @white;
			transition: .4s;
		}
	}//large
}//btn


@media (max-width: 1024px) { 
	.btn {

	&--small {
		display: inline-block;
		padding: 4px 10px;
		color: @white;
		border: 2px solid @white;
		border-radius: 50px;
		font-size: 14px;
		letter-spacing: 0.02em;
		text-decoration: none;

		&:hover {
			color: @bg-loyalty;
			background-color: @white;
			transition: .4s;
		}
	}//large
}//btn
}