.logo {

  &--original {
    .st0{fill:#FFFFFF;}
    .st1{fill:#C0311C;}
    .st2{fill:#92C42D;}
    .st3{fill:#63B13B;}
    .st4{fill:#FFFFFF;}
  }

  &--gray {
  width: 160px;
  margin-left: -5px;

    .st0{fill:transparent;}
    .st1{fill:@white-40;}
    .st2{fill:@white-40;}
    .st3{fill:@white-40;}
    .st4{fill:@white-40;}
  }
  
  &--loyalty {

    .st0{fill:transparent;}
    .st1{fill:@bg-loyalty;}
    .st2{fill:#92C42D;}
    .st3{fill:#63B13B;}
    .st4{fill:@bg-loyalty;}
  }

}