/* Colors */
@white:               #ffffff;
@black:               #000000;


@accent:              #0000ff;
@link:                #bb3333;


@text-color:          #000000;
@body-bg:             #ffffff;
@bg-footer:           #434d54;
@bg-loyalty:          #ec2e2e;
@bg-stores:           #0f8433;



@pastelle:         #f8f3e6;
@pastelle-dark:    #d7d2cd;
@pastelle-light:   #fffaec;



@white-10:          fade(#ffffff, 10%);
@white-20:          fade(#ffffff, 20%);
@white-30:          fade(#ffffff, 30%);
@white-40:          fade(#ffffff, 40%);
@white-50:          fade(#ffffff, 50%);